<my-menu></my-menu>

<div class="container main content" *ngIf="model">
    <div class="row">
        <ol class="breadcrumb">
            <li><a [routerLink]="['/appartments']">Appartments</a></li>
            <li><a href="#">{{model.block + model.num}} Detail</a></li>
        </ol>
    </div>

    <div class="row" *ngIf="model">
        <h4>General Information</h4>
        <section>
            <div class="form">
                <div class="form-group col-md-3 col-xs-6" *ngIf="!isNew">
                    <label for="id">Id </label>
                    <input class="form-control" value="{{model._id}}" placeholder="bloc" readonly />
                </div>
                <div class="form-group col-md-3 col-xs-6">
                    <label for="bloc">Bloc</label>
                    <input class="form-control" [(ngModel)]="model.block" placeholder="bloc" />
                </div>
                <div class="form-group col-md-3 col-xs-6">
                    <label for="num">Num</label>
                    <input class="form-control" [(ngModel)]="model.num" placeholder="num" />
                </div>
                <div class="form-group col-md-3 col-xs-6">
                    <label for="floor">Floor</label>
                    <select class="form-control" [(ngModel)]="model.floor" placeholder="choose a floor">
                            <option>Rdc</option>
                            <option>1</option>
                            <option>2</option>
                        </select>
                </div>
            </div>
        </section>
    </div>

    <br>

    <div class="row">
        <div class="col-md-4">
            <div class="row" *ngIf="model.owner">
                <h4>Owner Informations</h4>
                <section>
                    <div class="form">
                        <div class="form-group">
                            <label for="lastName">lastName</label>
                            <input class="form-control" [(ngModel)]="model.owner.lastName" placeholder="lastName" />
                        </div>
                        <div class="form-group">
                            <label for="firstName">firstName</label>
                            <input class="form-control" [(ngModel)]="model.owner.firstName" placeholder="firstName" />
                        </div>
                        <div class="form-group">
                            <label for="cin">cin</label>
                            <input class="form-control" [(ngModel)]="model.owner.cin" placeholder="cin" />
                        </div>
                        <div class="form-group">
                            <label for="phone1">phone1</label>
                            <input class="form-control" [(ngModel)]="model.owner.phone1" placeholder="phone1" />
                        </div>
                        <div class="form-group">
                            <label for="phone2">phone2</label>
                            <input class="form-control" [(ngModel)]="model.owner.phone2" placeholder="phone2" />
                        </div>
                    </div>
                </section>
            </div>

            <div class="form">
                <label class="col-md-8 control-label" for="radios">The owner is the resident?</label>
                <div class="col-md-4">
                    <label class="radio-inline" for="radios-0">
                        <input type="radio" [(ngModel)]="model.residentIsOwner" value=true />
                        Yes
                    </label>
                    <label class="radio-inline" for="radios-1">
                        <input type="radio" [(ngModel)]="model.residentIsOwner" value=false />
                        No
                    </label>
                </div>
            </div>

        </div>

        radio selected: {{model.residentIsOwner}}
        <div class="col-md-offset-2 col-md-4">
            <div class="row" *ngIf="residentIsSameTheOwner == 'shown'">
                <h4>Resident Informations</h4>
                <section>
                    <div class="form">
                        <div class="form-group">
                            <label for="lastName">lastName</label>
                            <input class="form-control" [(ngModel)]="model.resident.lastName" placeholder="lastName" />
                        </div>
                        <div class="form-group">
                            <label for="firstName">firstName</label>
                            <input class="form-control" [(ngModel)]="model.resident.firstName" placeholder="firstName" />
                        </div>
                        <div class="form-group">
                            <label for="cin">cin</label>
                            <input class="form-control" [(ngModel)]="model.resident.cin" placeholder="cin" />
                        </div>
                        <div class="form-group">
                            <label for="phone1">phone1</label>
                            <input class="form-control" [(ngModel)]="model.resident.phone1" placeholder="phone1" />
                        </div>
                        <div class="form-group">
                            <label for="phone2">phone2</label>
                            <input class="form-control" [(ngModel)]="model.resident.phone2" placeholder="phone2" />
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="row">
        <div class="pull-right">
            <button (click)="goBack()" class="btn btn-default">Back</button>
            <button (click)="save()" class="btn btn-primary">Save Appartment</button>
        </div>
    </div>
</div>