<my-menu></my-menu>

<div class="container main content" *ngIf="model">
    <div class="row">
        <div class="pull-right">
            <a [routerLink]="['/appartments']" class="btn btn-link"> <i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Retour à la recherche</a>
        </div>
        <ol class="breadcrumb">
            <li><a [routerLink]="['/appartments']">Appartments</a></li>
            <li><a href="#">{{model.toString()}} Detail</a></li>
        </ol>
    </div>
    <br>
    <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">General Information</div>
            <div class="panel-body">
                <section>
                    <div class="form">
                        <div class="form-group" *ngIf="!isNew">
                            <label for="id">Id </label>
                            <input class="form-control" value="{{model._id}}" placeholder="bloc" readonly />
                        </div>
                        <div class="form-group">
                            <label for="bloc">Bloc</label>
                            <input class="form-control" [(ngModel)]="model.block" placeholder="bloc" />
                        </div>
                        <div class="form-group">
                            <label for="num">Num</label>
                            <input class="form-control" [(ngModel)]="model.num" placeholder="num" />
                        </div>
                        <div class="form-group">
                            <label for="floor">Floor</label>
                            <select class="form-control" [(ngModel)]="model.floor" placeholder="choose a floor">
                            <option>Rdc</option>
                            <option>1</option>
                            <option>2</option>
                        </select>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">Owner Informations</div>
            <div class="panel-body">
                <section *ngIf="model.owner">
                    <div class="form">
                        <div class="form-group">
                            <label for="lastName">lastName</label>
                            <input class="form-control" [(ngModel)]="model.owner.lastName" placeholder="lastName" />
                        </div>
                        <div class="form-group">
                            <label for="firstName">firstName</label>
                            <input class="form-control" [(ngModel)]="model.owner.firstName" placeholder="firstName" />
                        </div>
                        <div class="form-group">
                            <label for="cin">cin</label>
                            <input class="form-control" [(ngModel)]="model.owner.cin" placeholder="cin" />
                        </div>
                        <div class="form-group">
                            <label for="phone1">phone1</label>
                            <input class="form-control" [(ngModel)]="model.owner.phone1" placeholder="phone1" />
                        </div>
                        <div class="form-group">
                            <label for="phone2">phone2</label>
                            <input class="form-control" [(ngModel)]="model.owner.phone2" placeholder="phone2" />
                        </div>
                    </div>
                </section>

                <label class="control-label" for="radios">The owner is the resident?</label>
                <!--<kendo-switch
            [(ngModel)]="model.residentIsOwner"
            [onLabel]="'Yes'"
            [offLabel]="'No'"
            ></kendo-switch>-->
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary {{model.residentIsOwner ? 'active' : ''}}" (click)='toggleResident()'>
                    <input type="radio" name="model.residentIsOwner" id="model_residentIsOwner_Yes"> Yes
                </label>
                    <label class="btn btn-primary {{!model.residentIsOwner ? 'active' : ''}}" (click)='toggleResident()'>
                    <input type="radio" name="model.residentIsOwner" id="model_residentIsOwner_No"> No
                </label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 {{model.residentIsOwner ? 'hide' : ''}}">
        <div class="panel panel-default">
            <div class="panel-heading">Resident Informations</div>
            <div class="panel-body">
                <section>
                    <div class="form">
                        <div class="form-group">
                            <label for="lastName">lastName</label>
                            <input class="form-control" [(ngModel)]="model.resident.lastName" placeholder="lastName" />
                        </div>
                        <div class="form-group">
                            <label for="firstName">firstName</label>
                            <input class="form-control" [(ngModel)]="model.resident.firstName" placeholder="firstName" />
                        </div>
                        <div class="form-group">
                            <label for="cin">cin</label>
                            <input class="form-control" [(ngModel)]="model.resident.cin" placeholder="cin" />
                        </div>
                        <div class="form-group">
                            <label for="phone1">phone1</label>
                            <input class="form-control" [(ngModel)]="model.resident.phone1" placeholder="phone1" />
                        </div>
                        <div class="form-group">
                            <label for="phone2">phone2</label>
                            <input class="form-control" [(ngModel)]="model.resident.phone2" placeholder="phone2" />
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="pull-right">
            <button (click)="save()" class="btn btn-primary">Save Appartment</button>
        </div>
    </div>
</div>