<my-menu></my-menu>

<div class="container main content">
    <h2>Appartments</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="error" *ngIf="error">{{error}}</div>
            <div class="pull-right">
                <button class="btn btn-success" (click)="addAppartment()">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Add New Appartment
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <kendo-grid
                [data]="appartments"
                [pageSize]="pageSize"
                [skip]="skip"
                [pageable]="pagerSetting"
                (pageChange)="onPageChange($event)"
                >
                <kendo-grid-column title="Appartment">
                    <template kendoCellTemplate let-dataItem let-rowIndex="rowIndex">
                        {{dataItem.block + dataItem.num}}
                    </template>
                </kendo-grid-column>
                <kendo-grid-column field="owner" title="Owner">
                    <template kendoCellTemplate let-dataItem>
                        <div *ngIf="dataItem.owner">
                            {{dataItem.owner?.lastName + " " + dataItem.owner?.firstName}}
                        </div>
                    </template>
                </kendo-grid-column>
                <kendo-grid-column field="resident" title="Resident">
                    <template kendoCellTemplate let-dataItem>
                        <div *ngIf="dataItem.resident">
                            {{dataItem.resident?.lastName + " " + dataItem.resident?.firstName}}
                        </div>
                    </template>
                </kendo-grid-column>
                <kendo-grid-column title="Actions">
                    <template kendoCellTemplate let-dataItem>
                        <a (click)="displayDetail(dataItem._id)">
                            <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                        </a>
                        <a (click)="deleteAppartmentById(dataItem._id, $event)">
                            <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                        </a>
                    </template>
                </kendo-grid-column>
            </kendo-grid>
        </div>
        <!--<div class="col-md-12">
            <ai-grid [data]='appartments' [columns]='appGridColumns'
            (onRowClicked)="onGridClied($event)"></ai-grid>
        </div>
        <div class="col-md-12">
            <ai-grid [data]='products'
            (onRowClicked)="onGridClied($event)"></ai-grid>
        </div>-->
    </div>
</div>