<my-menu></my-menu>

<!--<div class="container main content">
    <div class="login-wrapper">
        <form class="login">
            <label class="title">
                      Company Name<span class="trademark">&#8482;</span>
                      Product Name&#174;
                  </label>
            <div class="login-group">
                <div class="auth-source select">
                    <select id="login-auth-source-1">
                              <option>Local Users</option>
                              <option>Administrator</option>
                          </select>
                </div>
                <input class="username" type="text" id="login_username" placeholder="Username">
                <input class="password" type="password" id="login_password" placeholder="Password">
                <div class="checkbox">
                    <input type="checkbox" id="rememberme">
                    <label for="rememberme">
                              Remember me
                          </label>
                </div>
                <div class="error active">
                    Invalid user name or password
                </div>
                <button type="submit" class="btn btn-primary">LOG IN</button>
                <a [routerLink]="['/createaccount']" class="signup">Sign up for an account</a>
            </div>
        </form>
    </div>
</div>-->

<div class="container main content">
    <div class="col-md-5">
        <form>
            <h2 class="form-signin-heading">Create an account</h2>
            <div class="form-group">
                <label for="exampleInputEmail1">Login</label>
                <input type="text" class="form-control" id="login" placeholder="login">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password confirmation</label>
                <input type="password" class="form-control" id="passwordconfirm" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
    <div class="col-md-5 col-md-offset-2">
        <form>
            <h2 class="form-signin-heading">Please sign in</h2>
            <div class="form-group">
                <label for="exampleInputEmail1">Login</label>
                <input type="text" class="form-control" id="login" placeholder="login">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>